<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:insert="parts/header :: head"></div>
<body>
<header th:insert="parts/menu :: navbar"></header>
<div></div>

<div>
    <table class="table table-sm table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Месяц</th>
            <th>Количсество нарушений</th>
            <th>Процент по месяцам</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${infractions}">
            <td th:text="${item.month}"></td>
            <td th:text="${item.count}"></td>
            <td th:text="${item.percentage}"></td>
        </tr>
        </tbody>
    </table>

    <form class="form-inline" action="/statistic/infraction/month" method ="get">
        <div class="form-row align-items-left ml-3">
            <input  class="form-control col-sm-3 my-1 border-danger" type="number" placeholder="Год" name="year"/>
            <input class="btn btn-danger col-sm-3 my-1"  role="button" type="submit" value ="Найти"/>
        </div>
    </form>


</div>
</body>
</html>